@import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Kreon:300,700';
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');

html{
    scroll-behavior: smooth;

}

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height:20px;
    color: white;
    background-color: black;

}

    
/*--Header-&-Background--*/

.header-background {
    position: static;
    top: 0;
    height: auto;
    width: 100%;
    min-height:1550px;
    margin-bottom: 0;
    background:url(../images/edited2.jpg)no-repeat top center / cover;
    flex-direction: column;
    background-position: 0px 0px, 100% 50%;
    overflow: visible;
}

.overlay{
    position: absolute;
    width: 10%;
   top: 45rem ;
    left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:30px;
    line-height: 1.2;
    font-family:  'Nixie One', cursive;
}

hr{
    min-height: 1px;
    width:68rem;
    border:0;
    background-color: rgb(255, 255, 255);
     margin: 0;
     position: absolute;
     top: 107.6rem;
     left:12rem;   
}

@media screen and (max-width: 768px){
    .header-background {
    min-height: 829px;
    width: 100%;
    position: static;
    display: block;
    overflow: visible;
    background-position: 0px 0px, 100% 50%;
    }

    .overlay{
        display: none;
    }
    
    hr{
    min-height: 1px;
    width: 39rem;
    border: 0;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    top: 60.5rem;
    left: 4.3rem;
}
}

@media screen and (max-width: 320px){
   
    .header-background {
    min-height: 501px;
    width: 100%;
    position: static;
    display: block;
    overflow: visible;
    background-position: -72px 0px, 100% 50%;
    text-decoration: underline;
    line-height: 10px;
    margin-bottom: 20px;
    }

    .overlay{
        display: none;
    }
    
    hr{
    min-height: 1px;
    width:16rem;
    border:0;
    background-color: rgb(255, 255, 255);
     margin: 0;
     position: absolute;
     top: 39rem;
    left:2rem;
    
}
}


/*--Header-&-Background--*/


/*--Navbar--*/

.sticky-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 20px;
    z-index: 1;
    -webkit-align-self:auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -webkit-order:0;
    -ms-flex-order: 0;
    order: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    font-size: 2.2rem;
    color: white;
}

.navbar-brand {
    font-size: 2rem;
    color: white;
    padding-left: 3px;
    text-transform: uppercase;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
   -moz-transform: rotateX(50deg) rotateZ(1deg);
   -webkit-transform: rotateX(50deg) rotateZ(1deg);
    transform: rotateX(50deg) rotateZ(0deg);
    font-family:  'Nixie One', cursive;
    color: white;
    font-weight: 500;
}


.navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none;
    margin-top: 7px;
}

.navbar-toggler span {
    display:block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #ffffff;
}

.navbar-toggler span + span {
    margin-top: 4px;
    width: 22px;
}

.navbar-toggler span + span + span {
    width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    position: relative;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    font-family: 'Nixie One', cursive;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    font-family: 'Nixie One', cursive;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.425);
    font-weight: 500;
    font-family: 'Nixie One', cursive; 
}

.dropdown-menu .dropdown-item {
    color: red;
    letter-spacing: 1px;
    font-size: 16px;
}

.dropdown-menu .dropdown-item:hover{
    color: white;
    background:rgb(80, 8, 8);
    font-size:20px;
    text-decoration: underline;
}

.btn {
    background-color:rgb(80, 8, 8);
    color: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    font-weight: 500;
    font-family:  'Nixie One', cursive;
    letter-spacing: 1px;
}

.btn:hover{
    background-color:red;
    color: white;
    font-weight: 500;
    font-family:  'Nixie One', cursive;
    letter-spacing: 1px;
}

@media screen and (max-width: 320px){
.sticky-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 1px;
    z-index: 1;
    -webkit-align-self:auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -webkit-order:0;
    -ms-flex-order: 0;
    order: 0;
    background-color:rgba(0, 0, 0, 0.432);
}   
}
/*--Navbar--*/



/*--ABOUT--*/

.column-left1 {
    background-image: url(../images/anabelleColumnleft1.jpg);
    background-position: 19px 500px, 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 10px;
}



.column-right span {
    font-family: 'Nixie One', cursive;
    font-size: 21px;
    letter-spacing: 2px;
    font-style: italic;
}

.column-right .section-title{
padding: 18rem 9rem 5rem 5rem;
font-size: 3rem;
color:white;
font-weight: 500;
text-align: center;
text-decoration: underline;
font-family: 'Nixie One', cursive;
font-style: italic;
}

.column-right .paragraph{
margin-top: 0;
margin-left: 50px;
width: 100%;
padding: 0rem 0rem 0rem 4rem;
font-size: 14px;
color:white;
line-height: 1.4;
text-align: justify;
}

.column-right p {
padding: 0rem 7.4rem 0rem 7.4rem;
font-size: 1.1rem;
color:white;
line-height: 1.4;
}

.column-right .paragraph span {
    font-size: 20px;
    font-family:'Nixie One', cursive;
    font-style: italic;
    letter-spacing: 2px;}

    @media screen and (max-width: 768px){

.column-left1 {
    min-height: 547px;
    background-position: 114px 8px, 100% 50%;
    position: relative;
    bottom: -240px;
}

.col-sm-11{
    width: 98%;
}


.column-right span {
    font-family:'Nixie One', cursive;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 100px; 
}

.column-right .paragraph span {
    font-size: 16px;
     margin-bottom: 20px;
}
    

.column-right .section-title{
padding: 20rem 0rem 0rem 8rem;
font-size: 2.8rem;
color:white;
font-weight: 500;
text-align: center;
text-decoration: underline;
font-family:'Nixie One', cursive;
}

.column-right p {
    padding-left: 16px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 1px;
}

.column-right p,.span2 {
    padding-top: 1px;
}

.column-right .paragraph{
margin-top:5px;
margin-left: -5px;
width: 100%;
padding: 0.1rem 0rem 0.2rem 1rem;
font-size: 15px;
color:white;
line-height: 1.3;
text-align: justify;
}
}


@media screen and (max-width: 320px){

.column-left1 {
    min-height: 371px;
    background-image: url(../images/anabelleColumnleft1.jpg);
    background-position: 2px 25px, 100% 50%;
    position: relative;
    bottom: -121px;
}

.column-right span {
    font-family:'Nixie One', cursive;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 100px; 
}

.column-right .paragraph span {
    font-size: 16px;
     margin-bottom: 20px;
}
    

.column-right .section-title{
padding: 11rem 0rem 0rem 0rem;
font-size: 2.5rem;
color:white;
font-weight: 500;
text-align: center;
text-decoration: underline;
font-family:'Nixie One', cursive;
}

.column-right p {
    padding-left: 16px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 1px;
}

.column-right p,.span2 {
    padding-top: 1px;
}

.column-right .paragraph{
margin-top:5px;
margin-left: -5px;
width: 100%;
padding: 0.1rem 0rem 0.2rem 1rem;
font-size: 15px;
color:white;
line-height: 1.3;
text-align: justify;
}
}


/*--ABOUT--*/



/*--PROJECTS-&-EXPERIENCE--*/
#projects {
    height: 100vh;
    margin-top: 200px;
}

.projects-right {
    margin-top: 100px;
    min-height: 750px;
    background-image: url(../images/projectspic.jpg);
    background-position: -15px 15px, 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 5px;
}

.project-1 {
    width: 80%;
  margin-top:50px;
  margin-left: 40px;
  text-decoration: none;
  color:#ffffff;
  letter-spacing: 3px;
  text-align: center;
}

.project-title {
    text-decoration: none;
    font-family: 'Nixie One', cursive;
}

.projects-section {
    margin-left: -50px;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    font-family:'Nixie One', cursive;
    font-style: italic;
}

.project-1  a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-family:'Nixie One', cursive;
  letter-spacing: 3px;
}

.project-1 a:hover{
    color: rgb(153, 12, 12);
}

.project-1 .paragraph {
  font-size: 14px;
  color:#ffffff;
  line-height: 1.4;
  text-decoration: none;
  font-family: relative;
  margin-bottom:40px;
}

.project-1 {
  font-family: 'Nixie One', cursive;
  letter-spacing: 1px;
}

.project-2 {
  width: 80%;
  text-decoration: none;
  margin-left: 50px;
  color:#ffffff;  
  letter-spacing: 3px; 
  text-align: center; 
  font-family: 'Nixie One', cursive;
}

.project-2 .paragraph {
  font-size: 20px;
  color:#ffffff;
  line-height: 1.4;
  text-decoration: none;
  font-family: relative;
  text-align: center;
  margin-bottom:30px;
}

.project-2 .project-tittle2 {
  font-family: 'Nixie One', cursive;
  letter-spacing: 1px;
}


@media screen and (max-width: 768px){

#projects {
    height: 180vh;}
    

#projects .projects-section {
    position: static;
    margin-left:0.3rem;
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}

.project-1{
    width: 100%;
    position: relative;
    top: 43rem;
    right: 2rem;
}

.project-2{
    width: 100%;
    right: 3rem;
    position: relative;
    top: 43rem;
}

.project-title2 {
   font-size: 28px;
    text-decoration: none;
    font-family: 'Nixie One', cursive;
    letter-spacing: 2px;
    margin-bottom: 30px;

}

.projects-right {
    background-position: 0rem 0px, 100% 50%;
    min-height: 619px;
    position: relative;
    bottom: 63rem;
    left: 3.5rem;
    border-radius: 15px;
}
        
           
.project-1 .paragraph {
     width: 100%;
     padding: 0rem 3.8rem 0rem 4rem;
     font-size: 20px;
     color:#ffffff;
     line-height: 1.4;
     text-decoration: none;
     font-family: relative;

}

.project-1 .project-title {
    font-family: 'Nixie One', cursive;
    letter-spacing: 1px;
    font-size: 28px;
}

.project-1  a {
    font-size: 28px;
    font-family: 'Nixie One', cursive;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
}
    
.project-1  a:hover {
    font-family: 'Nixie One', cursive;
    color: rgb(153,12,12);
    text-decoration: none;
    cursor: pointer;
}
}


@media screen and (max-width: 320px){

#projects {
    height: 140vh;
    margin-top: 110px;}

#projects .projects-section {
    position: static;
    margin-left: 2px;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}

.project-1{
    width: 100%;
    top: 18rem;
    margin-left: 36px;
}

.project-2{
    width: 100%;
    margin-left: 48px;
    position: relative;
    top: 18rem;
}

.project-title2 {
    font-size: 18px;
   text-decoration: none;
   font-family: 'Nixie One', cursive;
    letter-spacing: 1px;
    margin-bottom: 1rem;

}
.project-2 .paragraph {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.4;
    text-decoration: none;
    font-family: relative;
    text-align: center;
    margin-bottom: 30px;
}

.projects-right {
    background-position: 3px 12px, 100% 50%;
    min-height: 340px;
    position: relative;
    bottom: 95.3rem;
    left: 0rem;
    border-radius: 10px;
        }
           
.project-1 .paragraph {
     width: 100%;
     padding: 0rem 5.8rem 1rem 5rem;
     font-size: 15px;
     color:#ffffff;
     line-height: 1.4;
     text-decoration: none;
     font-family: relative;
     margin-bottom: 30px;

}

.project-1 .project-title {
    font-family: 'Nixie One', cursive;
    letter-spacing: 1px;
    font-size: 18px;
}

.project-1  a {
    font-family: 'Nixie One', cursive;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
    
.project-1  a:hover {
    font-family: 'Nixie One', cursive;
    color: rgb(153,12,12);
    text-decoration: none;
    cursor: pointer;
}
}


     
    /*--PROJECTS-&-EXPERIENCE--*/


/*--CONTACT--*/
#contact{
   margin-top: 200px;
   margin-bottom: 150px;
}


.contact-right {
    height: 599px;
    width:50%;
    background-image: url(../images/Anabelle-Logo2.png);
    background-position: 230px 21px, 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 10px;
    margin-top: 150px; 
 }

 .contact-section {
     padding: 15rem 0rem 1rem 5rem;
     font-size: 2.8rem;
     font-weight: 500;
     text-decoration: underline;
     text-transform: uppercase;
     font-family:'Nixie One', cursive;
}

.contact-left .paragraph {
    padding: 2rem 0rem 0rem 2rem;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Nixie One', cursive;
    font-weight: 500;  
}

strong {
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Nixie One', cursive;
}

strong:hover{
    color: red;
    font-weight: 700;
    font-size: 1.8rem;
}


.contact-form {
    margin-top: 10px;
}

#contact-form .form-control {
    background-color:rgb(80, 8, 8);
    border: none;
    border-radius: 3rem;
    box-shadow: none;
    font-weight: 300;
    outline: medium none;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height:1.1;
    height:auto;
    width: 100%;
    color: #ffffff;
    margin-bottom: 0.4rem;
    transition: all .2s ease-in-out;
    text-align: left;
}

#contact-form .form-control:hover, #contact-form .form-control:focus {
   box-shadow: none;
   background:rgb(102, 8, 8);
}

#contact-form textarea.form-control {
    min-height: 10rem;
}

#contact-form span.sub-text {
    color: silver;
    font-size: 0.6rem;
    left:40rem;
    position: relative;
}

#contact-form button#valid-form {
    background: rgb(80,8,8);
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: rgb(83, 80, 80);
    margin: auto;
    margin-top: 1px;
    margin-bottom: 10px;
    border-radius: 2rem;
    border: none;
    display: inline-block;
}

#contact-form button#valid-form:hover {
    background:rgb(80, 8, 8);
    color:white;
}


@media screen and (max-width: 768px){

#contact{
   height: auto;
   margin-top: 100px;
}
    
#contact-form {
   margin-top: -17.6rem;
    margin-right: 0px;
}

.contact-section {
    padding: 15rem 0rem 1rem 0rem;
  position: relative;
    width: 100%;
    font-size: 45px;
    bottom: 20rem;
    left: 0rem;
    z-index: 2;
}

.contact-left p { 
    padding: 0;
    margin: 0;
    position: relative;
    top: -18rem;
    font-size: 10px;
    left: -14px;
    font-family: 'Nixie One', cursive;
}

.contact-left .paragraph {
    padding: 0rem 0rem 0rem 2rem;
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Nixie One', cursive;
    font-weight: 500;
}

.contact-left p strong {
    font-size: 40px;
    text-decoration:underline;
    font-family: 'Nixie One', cursive;
}

#contact-form .form-control {
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.1;
    height: auto;
    width: 100%;
    color: #ffffff;
    margin-bottom: 0.2rem;
    transition: all .2s ease-in-out;
    text-align: left;
}


#contact-form textarea.form-control {
    min-height: 15rem;
}

#contact-form button#valid-form {
    padding: 1.3rem 4.2rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 3px;
    margin-bottom: 10px;
    border-radius: 2rem;
    border: none;
    display: inline-block;
}


.contact-right {
    max-height: 600px;
    width: 100%;
    background-image: url(../images/Anabelle-Logo2.png);
    background-position: 129px 5px, 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    margin-top: 0px;
}
}


@media screen and (max-width: 320px){

#contact{
   height: auto;
   margin-top: 100px;
}
    
#contact-form {
   margin-top: 46.4rem;
   margin-right: 30px;
}

.contact-section {
  position: relative;
  width: 100%;
    font-size: 29px;
    top: 46rem;
    left: 0.2rem;
    z-index: 2;
}

.contact-left p { 
    padding: 0;
    margin: 0;
    position: relative;
    top: 46rem;
    font-size: 10px;
    left: -14px;
    font-family: 'Nixie One', cursive;
}

.contact-left .paragraph {
    padding: 0rem 0rem 0rem 1rem;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Nixie One', cursive;
    font-weight: 500;
}



.contact-left p strong {
    font-size: 28px;
    text-decoration:underline;
    font-family: 'Nixie One', cursive;
}

#contact-form .form-control {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height:1.1;
    height:auto;
    width: 100%;
    color: #ffffff;
    margin-bottom: 0.2rem;
    transition: all .2s ease-in-out;
    text-align: left;
}

#contact-form textarea.form-control {
    min-height: 5rem;
}

#contact-form button#valid-form {
    padding: 0.3rem 1.2rem;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 3px;
    margin-bottom: 10px;
    border-radius: 2rem;
    border: none;
    display: inline-block;
}


.contact-right {
   max-height:437px;
    width: 100%;
    background-image: url(../images/Anabelle-Logo2.png);
    background-position: 2px 52px, 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll;
    margin-top: 15px;}
}

/*--CONTACT--*/





/*--GOTOP-BTN--*/

    .gotopbtn .fas{
        font-size: 40px;
        margin-top: 5px;
        color: white;
    }

    .gotopbtn{
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 40px;
        background: rgb(153, 12, 12);
        right: 50px;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
}

    .gotopbtn:hover {
        background: rgb(123, 2, 2);
    }

     @media screen and (max-width:768px){
    .gotopbtn{
    display: none;   
    }
    }


    @media screen and (max-width:320px){
    .gotopbtn{
     display: none;   
    }
    }



/*--GOTOP-BTN--*/


/*--SOCIAL-MEDIA-ICONS--*/

#social-media ul {
    margin: 0;
  padding: 20px;
  display: flex;
  position: absolute;
  top: 105rem;
  left:46rem;
  transform: translate(-50%, -50%);
}
#social-media ul li {
list-style: none;
  margin: 0 120px;
}

#social-media ul li a {
  position: relative; 
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;

  background: rgb(77, 76, 76);
  border-radius: 50%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: .5s;
}

#social-media ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f30909;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#social-media ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 40px #ee0505;
}


#social-media ul li a:hover {
  color: #ee0505;
  box-shadow: 0 0 10px #f8bf23;
  text-shadow: 0 0 10px #f18d0a;
}

#social-media ul .fab {
    margin-top: 15px;
    font-size: 50px;
  
 }

 @media screen and (max-width: 768px){
#social-media ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 58.1rem;
    left: 23.6rem;
  transform: translate(-50%, -50%);
}

#social-media ul li {
list-style: none;
  margin: 50px;
}

#social-media ul li a{
  width: 80px;
  height: 80px;
  line-height: 50px;
  text-align: center;
}

#social-media ul .fab {
    margin-top: 13px;
    font-size: 55px;
}
 }

    
@media screen and (max-width: 320px){
#social-media ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 37.5rem;
  left:9.7rem;
  transform: translate(-50%, -50%);
}

#social-media ul li {
list-style: none;
  margin: 06px;
}

#social-media ul li a{
  width: 50px;
  height: 50px;
  line-height: 48px;
}

#social-media ul .fab{
    margin-top: 5px;
    font-size: 30px;
}
}


/*--SOCIAL-MEDIA-ICONS--*/


/*--FOOTER--*/

.inner-footer {
    margin: 0;
    padding: 0;
    background: rgb(80, 8,8);
    height: 100px;
}

.social-links ul {
    display:flex;
    width: 353px;
    height: 1px;
    padding-top: 38px;
    margin-left: 22rem;
    transform: translate(-50%, -50%);
} 

.social-links ul li {
list-style: none;
margin: 0 100px;
}

.social-links ul li a {
  position: relative; 
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 63px;
  background: rgb(77, 76, 76);
  border-radius: 50%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: .5s
}



.social-links ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f30909;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
.social-links ul .fab {
    margin-top: 12px;
    font-size: 45px;
}
    


.social-links ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 30px #ee0505;
}


.social-links ul li a:hover {
  color: #ee0505;
  box-shadow: 0 0 5px #f8bf23;
  text-shadow: 0 0 5px #f18d0a;
}
.outer-footer {
    padding: 15px;
    text-align: center;
    color:white;
    font-size: 14px;
    background: rgb(29, 6, 6);
    padding: 10px;
}

@media screen and (max-width: 768px){
footer {
    position: relative;
}

.social-links ul{
display:flex;
width: fit-content;
position: relative;
right: -1rem;
top:-50px;
} 

.social-links ul li {
  list-style: none;
  margin: 50px;
}

.social-links ul li a {
  width: 80px;
  height: 80px;
  line-height: 42px;
}

.social-links ul .fab {
 margin-top: 13px;
 font-size: 55px;
}
}


@media screen and (max-width: 320px){
footer {
    position: relative;
}

.social-links ul{
display:flex;
width: fit-content;
position: relative;
right: 13.1rem;
top:0;
} 

.social-links ul li {
  list-style: none;
  margin: 14px;
}

.social-links ul li a {
  width: 45px;
  height: 45px;
  line-height: 42px;
}

.social-links ul .fab {
 margin-top: 6px;
 font-size: 28px;
}
}

/*--FOOTER--*/