@import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Kreon:300,700';
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: white;
    }

    body {
        background-color: black;
    }
    
    
/*--Header-&-Background--*/

.header-background {
    
        background:url('../images/edited2.jpg');
        background-size: cover;
        background-position: center;
        height: 70rem;
        background-repeat: no-repeat;
        flex-direction: column;
        background-position: 0rem 0rem, 100% 50%;
        overflow: visible;
        width: 100%;
    }

    
    @media screen and (max-width: 1200px){
        .header-background {
            height: 55rem;
        }
    }


    @media screen and (max-width: 1024px){
        .header-background {
            height: 50rem;
        }
    }


    @media screen and (max-width: 900px){
        .header-background {
            height: 56rem;
        }
    }


    @media screen and (max-width: 768px){
        .header-background {
            height: 56rem;
        }
    }
     @media screen and (max-width: 600px){
        .header-background {
            height: 41rem;
            
        }
    }

    @media screen and (max-width: 480px){
        .header-background {
            height: 36rem;
        }
    }

    @media screen and (max-width: 420px){
        .header-background {
            height: 32rem;
        }
    }


    @media screen and (max-width: 400px)
    {
        .header-background {
            height: 30rem;
        }
    }

    
    @media screen and (max-width: 360px){
        .header-background {
            height: 28rem;
        }
    }




.sub-text{
    position: relative;
    width: 20%;
   height: 100vh;
    left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:0.9rem;
    line-height: 1.2;
    font-family:  'Nixie One', cursive;
}



@media screen and (max-width: 1000px) {
    .sub-text {
        display: none;
    }
}




hr{
    height: 1px;
    width: 50%;
    border:1px solid rgb(143, 1, 1);
    background-color: rgb(255, 255, 255);
     position: relative;
    margin: auto;
    }

    @media screen and (max-width: 768px){
        hr {
            width: 68%;
         }
    } 

    @media screen and (max-width: 600px) {
        hr {
           width: 63%;
        }
    }

    @media screen and (max-width: 480px){    
    
        hr {
            width: 68%;
        }
    }   

    @media screen and (max-width: 360px){
        hr {
            width: 69%;
        }
    }

/*--Header-&-Background--*/


/*--Navbar--*/
.container {
    padding: 0;
}

.sticky-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 0.1rem;
    z-index: 1;
    -webkit-align-self:auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -webkit-order:0;
    -ms-flex-order: 0;
    order: 0;
    background-color: rgba(0, 0, 0, 0.445);
}

.navbar-brand {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-family:  'Nixie One', cursive;
    color: white;
    font-weight: 500;
}


.navbar-toggler {

        border: none;
        padding: 0rem em;
        outline: none;
        margin-top: 0.1rem;
    }

.navbar-toggler span {
    display:block;
    width: 1.5rem;
    height: 1px;
    border: 1px;
    background: #ffffff;
}

.navbar-toggler span + span {
    margin-top: 5px;
    width: 1.5rem;
}

.navbar-toggler span + span + span {
    width: 1.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1rem;
    position: relative;
    letter-spacing: 1px;
    color: #ffffff;
    
    font-family: 'Nixie One', cursive;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    text-decoration: underline;

    
    
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #ffffff;
}

.dropdown-menu{
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: 'Nixie One', cursive; 
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1rem;
}

.dropdown-menu .dropdown-item:hover{
    text-decoration: underline;
    background-color: transparent;
}

.btn {
    
    color: white;
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    border: none;
    font-weight: 500;
    font-family:  'Nixie One', cursive;
    letter-spacing: 1px;
    border: 1px solid white;
}

.btn:hover{
    background-color:rgb(143, 1, 1);
    color: white;
    border: 1px solid white;
}
@media screen and (max-width: 768px){
    .navbar-brand {
        font-size: 1.8rem;
        position: relative;
        left: 0%;
        
    }
    .navbar {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .dropdown-menu{
        background-color:transparent;
        border: none;
        font-weight: unset;
        padding-left: 2%;
        
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1.1rem;
        position: relative;
        line-height: 1.1;
        left: 0%;
    }

    .dropdown-menu .dropdown-item {
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 1.3rem;
    }

}


@media screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 1.5rem;
        position: relative;
        left: 3%;
        
    }
    .navbar {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .dropdown-menu{
        background-color:transparent;
        border: none;
        font-weight: unset;
        padding-left: 5%;
        
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1.1rem;
        position: relative;
        line-height: 1.1;
        left: 3%;
    }

    .dropdown-menu .dropdown-item {
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 480px) {
    .navbar-brand {
        font-size: 1.3rem;
        position: relative;
        left: 3%;
        
    }
    .navbar {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .dropdown-menu{
        background-color:transparent;
        border: none;
        font-weight: unset;
        padding-left: 5%;
        
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1.1rem;
        position: relative;
        line-height: 1.1;
        left: 3%;
    }

    .dropdown-menu .dropdown-item {
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 360px) {
    .navbar-brand {
        font-size: 1.1rem;
        position: relative;
        left: 3%;
        
    }
    .navbar {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .dropdown-menu{
        background-color:transparent;
        border: none;
        font-weight: unset;
        padding-left: 5%;
        
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 0.9rem;
        position: relative;
        line-height: 1.2;
        left: 3%;
    }

    .dropdown-menu .dropdown-item {
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 1.2rem;
    }
}
/*--Navbar--*/


/* Social Media */
#social-media ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0rem 18rem;
  margin-top: 6rem;
  right: 1%;
}


#social-media ul li {
list-style: none;
  margin: 0rem auto;
}

#social-media ul li a {
  position: relative; 
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
background: rgb(143, 1, 1);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  transition: .5s;
}

#social-media ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f51b1b;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

#social-media ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 40px #ee0505;
}


#social-media ul li a:hover {
  color: #ee0505;
  box-shadow: 0 0 10px #f8bf23;
  text-shadow: 0 0 10px #f1c70a;
}

#social-media ul .fab {
    margin-top: 0.9rem;
    font-size: 2rem;
}
    @media screen and (max-width: 768px){
        #social-media ul {
            margin: 5rem 5.4rem 0;
            width: 75%;
        }
     }

 

 @media screen and (max-width: 600px){
    #social-media ul {
        margin: 2rem 4.1rem 0;
        width: 75%;
    }
 }

@media screen and (max-width: 480px){
    
    #social-media ul {
        margin: 2rem 3.1rem 0;
        width: 75%;
    }
 }

 @media screen and (max-width: 420px){
     #social-media ul {
        margin: 2rem 2.2rem 0;
        width: 77%;
    }
 }

 @media screen and (max-width: 400px){
    
    #social-media ul {
        margin: 2rem 2rem 0;
        width: 77%;
    }
 }

 @media screen and (max-width: 360px) {
    #social-media ul {
        margin: 2rem 1.3rem 0;
        width: 81%;
    }
 }

 #social-media ul li a {
     width: 2rem;
    height: 2rem; 
  }

  #social-media ul .fab {
    margin-top: 0.4rem;
    font-size: 1.2rem;
  
 }


    

/*--SOCIAL-MEDIA-ICONS--*/


/*--ABOUT--*/
 #about {
     margin: 8rem auto;
 }

.column-left1 {
    background-image: url(../images/anabelleColumnleft1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    -o-object-fit: cover;
    margin-top: 20rem;
    padding-left: 4%;
    width: 40%;
}

.column-right .section-title h1 {
font-size: 2.5rem;
color:rgb(143, 1, 1);
font-weight: 500;
text-align: center;
text-decoration: underline;
font-family: 'Nixie One', cursive;
font-style: italic;
padding-bottom: 3rem;
}

.column-right span {
    font-family: 'Nixie One', cursive;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-style: italic;
    color: rgb(143, 1, 1);
    text-decoration: underline;
}
.column-right .sub-header span {
    font-weight: bold;
    padding-left: 4%;
    font-size: 1.1rem;
}

.column-right .sub-header p {
    font-weight: 100;
    font-size: 1.1rem;
    letter-spacing: 1px;

}

.column-right .paragraph{
font-size: 0.9rem;
color:#ffffff;
line-height: 1.4;
text-align: justify;
padding-left: 4%;
font-family: 'Nixie One', cursive;
}


.column-right .paragraph span {
    font-size: 1.1rem;
    font-family:'Nixie One', cursive;
    font-style: italic;
    letter-spacing: 1px;
    color: rgb(143, 1, 1);
    font-weight: bolder;
}

@media screen and (max-width: 768px) {

    .column-left1 {
        background-image: url(../images/anabelleColumnleft1.jpg);
        height: 35rem;
         margin-top: 5rem;
        width: 100%;
        position: relative;
        left: 8%;
       
    }

    .column-right .section-title h1 {
        font-size: 2.5rem;
        position: relative;
        top: -42rem;
        padding-bottom: 0;
        padding-left: 10%;
        }

    .column-right .sub-header span {
        font-weight: bold;
        padding-left: 10%;
        }
    
    .column-right .sub-header p {
        position: relative;
        top: -2rem;
        }

    .column-right .paragraph {
        font-size: 1.1rem;
        line-height: 1.4;
        text-align: justify;
        padding-left: 10%;
        position: relative;
        top: -3rem;
        }
}

@media screen and (max-width: 600px) {

    .column-left1 {
        background-image: url(../images/anabelleColumnleft1.jpg);
        height: 35rem;
         margin-top: 5rem;
        width: 100%;
       
    }

    .column-right .section-title h1 {
        font-size: 2rem;
        position: relative;
        top: -40rem;
        padding-bottom: 0;
        padding-left: 6%;
    }

    .column-right .sub-header span {
        font-weight: bold;
        padding-left: 9%;
    }
    
    .column-right .sub-header p {
        position: relative;
        top: -2rem;
    }

    .column-right .paragraph{
        font-size: 1.1rem;
        line-height: 1.4;
        text-align: justify;
        padding-left: 9%;
        position: relative;
        top: -2.5rem;
    }
}

@media screen and (max-width: 480px) {

    .column-left1 {
        background-image: url(../images/anabelleColumnleft1.jpg);
        height: 30rem;
         margin-top: 5rem;
        width: 100%;  
    }

    .column-right .section-title h1 {
        font-size: 2rem;
        position: relative;
        top: -34rem;
        padding-bottom: 0;
    }

    .column-right .sub-header span {
        font-weight: bold;
        padding-left: 2%;
    }
    
    .column-right .sub-header p {
        position: relative;
        top: -2rem;
    }

    .column-right .paragraph{
        font-size: 1rem;
        line-height: 1.4;
        text-align: justify;
        padding-left: 2%;
        padding-right: 2%;
        position: relative;
        top: -2.5rem;
    }
}

@media screen and (max-width: 400px) {

    .column-left1 {
        background-image: url(../images/anabelleColumnleft1.jpg);
        height: 30rem;
         margin-top: 1rem;
        width: 100%; 
    }

    .column-right .section-title h1 {
        font-size: 2rem;
        position: relative;
        top: -34rem;
        padding-bottom: 0;
    }

    .column-right .sub-header span {
        font-weight: bold;
        padding-left: 2%;
    }
    
    .column-right .sub-header p {
        position: relative;
        top: -5rem;
    }

    .column-right .paragraph{
        font-size: 1rem;
        line-height: 1.3;
        text-align: justify;
        padding-left: 2%;
        padding-right: 2%;
        position: relative;
        top: -5.9rem;
    }
}

@media screen and (max-width: 360px) {

    .column-left1 {
        background-image: url(../images/anabelleColumnleft1.jpg);
        height: 30rem;
         margin-top: 4rem;
        width: 100%;  
    }

    .column-right .section-title h1 {
        font-size: 2rem;
        position: relative;
        top: -35rem;
        padding-bottom: 0;
    }

    .column-right .sub-header span {
        font-weight: bold;
        padding-left: 2%;
    }
    
    .column-right .sub-header p {
        position: relative;
        top: -7rem;
    }

    .column-right .paragraph{
        font-size: 1rem;
        line-height: 1.4;
        text-align: justify;
        padding-left: 2%;
        padding-right: 2%;
        position: relative;
        top: -6.5rem;
    }
}
/*--ABOUT--*/



/*--PROJECTS-&-EXPERIENCE--*/
#projects {
margin: 8rem auto;
}

.projects-section h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: underline;
    font-family:'Nixie One', cursive;
    font-style: italic;
    color: rgb(143, 1, 1);
    padding-bottom: 3rem;
    text-transform: uppercase;
    width: 100%;
}

.project-1 {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Nixie One', cursive; 
}

.project-1 .project-title h4 {
    color: #ffffff;
   font-family: 'Nixie One', cursive;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 600;
    z-index: 2;
}

.project-1 .paragraph {
  font-size: 0.8rem;
  color:#ffffff;
  text-decoration: none;
  padding-bottom: 1rem;
  font-family: 'Nixie One', cursive;
  letter-spacing: 1px;
}

.projects-right {
    background-image:url(../images/anaplaying.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    -o-object-fit: cover;
    margin-top: 15rem;
    width: 48%;
}

@media screen and (max-width: 768px){
    .projects-section h1 {
        font-size: 2.5rem;
        text-align: start;
        position: relative;
        bottom: 5rem;
        text-transform: uppercase;
        width: 100%;
    
    }

    .projects-right {
        background-image:url(../images/anaplaying.PNG);
        height: 55rem;
        margin-top: 0rem;
       width: 100%;
       position: relative;
       bottom: 61rem;
    }

    .project-1 {
        width: 100%;
      position: relative;
      top: 43rem; 
      padding-left: 12%;
    }
}

@media screen and (max-width: 600px){
    .projects-section h1 {
        font-size: 2rem;
        text-align: center;
        position: relative;
        bottom: 5rem;
        text-transform: uppercase;
        width: 100%;    
    }

    .projects-right {
        background-image:url(../images/anaplaying.PNG);
        height: 40rem;
        margin-top: 12rem;
       width: 100%;
       position: relative;
       bottom: 78rem;
    }

    .project-1 {
        width: 96%;
      position: relative;
      top: 33.5rem; 
      padding-left: 12%;
    }


@media screen and (max-width: 480px){
    .projects-section h1 {
        font-size: 2rem;
        text-align: center;
        position: relative;
        bottom: 7rem;
        text-transform: uppercase;
        width: 100%;
    }

    .projects-right {
        background-image:url(../images/anaplaying.PNG);
        height: 35rem;
        margin-top: 13rem;
       width: 100%;
       position: relative;
       bottom: 80rem;
    }

    .project-1 {
        width: 96%;
      position: relative;
      top: 26rem; 
      padding-left: 3%;
    }

}

@media screen and (max-width: 420px){
    .projects-section h1 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: 7rem;
    text-transform: uppercase;
    width: 98%;
    }
    
    .projects-right {
    background-image:url(../images/anaplaying.PNG);
    height: 32rem;
    margin-top: 10rem;
    width: 100%;
    position: relative;
    bottom: 80rem;
    }
    
    .project-1 {
    width: 95%;
    position: relative;
    top: 20rem; 
    padding-left: 3%;
    }  
}

@media screen and (max-width: 400px){
    .projects-section h1 {
        font-size: 2rem;
        text-align: center;
        position: relative;
        bottom: 10rem;
        text-transform: uppercase;
        width: 100%;
    }

    .projects-right {
        background-image:url(../images/anaplaying.PNG);
        height: 30rem;
        margin-top: 7rem;
        width: 100%;
        position: relative;
        bottom: 80rem;
    }

    .project-1 {
        width: 95%;
        position: relative;
        top: 15.5rem; 
        padding-left: 3%;
    }
}

@media screen and (max-width: 360px){
    .projects-section h1 {
        font-size: 2rem;
        text-align: center;
        position: relative;
        bottom: 9rem;
        text-transform: uppercase;
        width: 100%;
    
    }

    .projects-right {
        background-image:url(../images/anaplaying.PNG);
        height: 30rem;
        margin-top: 6rem;
        width: 100%;
        position: relative;
        bottom: 80rem;
    }

    .project-1 {
        width: 95%;
        position: relative;
        top: 18rem; 
        padding-left: 3%;
    }
}
     /*--PROJECTS-&-EXPERIENCE--*/


/*--CONTACT--*/
    .contact-section h1{
       font-size: 2.5rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: auto;
       padding-bottom: 1rem;
       font-weight: 500;
       text-decoration: underline;
       text-transform: uppercase;
       font-family:'Nixie One', cursive;
       color: rgb(143, 1, 1);
    }

    .contact-right {
        height: 29rem;
        background-image: url(../images/Anabelle-Logo2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: scroll, scroll;
        object-fit: cover;
        -o-object-fit: cover; 
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 29%;
        margin-top: -4rem;
        margin-bottom: 8rem;
    }

    #contact-form{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width:  45%;
       padding-left: 7%;
       margin: auto;
       padding-bottom: 6rem;
    }

    .contact-section p {
       font-size: 1rem;
       line-height: 1.2;
       font-family: 'Nixie One', cursive;
       letter-spacing: 1px;
       position: relative;
       padding-left: 13.6%;
       top: 7.9rem;
    }

    .contact-section p strong {
       font-size: 1.2rem;
       font-family: 'Nixie One', cursive;
       text-decoration: underline;
       margin-bottom: 0;
    }


    #contact-form .form-control {
       background-color:rgb(80, 8, 8);
       box-shadow: none;
       border: 1px solid #ffffff;
       outline: medium none;
       font-size: 0.8rem;
       line-height:1.1;
       height:auto;
       color: #ffffff;
       margin: 2px auto;
       transition: all .2s ease-in-out;
       text-align: left;
    }

    #contact-form .form-control:hover, #contact-form .form-control:focus {
       box-shadow: none;
       background:rgb(143, 1, 1);
    }

    #contact-form textarea.form-control {
       min-height: 8rem;
       border: 1px solid #ffffff;
    }

    #contact-form span.sub-text {
       color: rgb(255, 255, 255);
       font-size: 0.6rem;
       position: relative;
    }

    #contact-form button#valid-form {
       background: rgb(80,8,8);
       font-family: 'Nixie One', cursive;
       text-transform: uppercase;
       font-size: 0.9rem;
       color: #ffffff;
       border-radius: 2rem;
       border: 1px solid #ffffff;
       display: inline-block;
       width: 40%;
       margin-left: 30%;
       margin-top: 1rem;
    }

    #contact-form button#valid-form:hover {
        background: rgb(143, 1, 1);
    }


@media screen and (max-width: 768px){
    .contact-section h1 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
        text-align: center;
        position: relative;
        bottom: 24rem;
        margin: 0;
    }

   .contact-section p {
       position: relative;
       top: -24rem;
       padding-left: 3%;
    }

    #contact-form{
       position: relative;
       bottom: 25rem;
       width:  96%;
       left: 2%;
       padding-left: 0;
       margin: 0;
    }
    
    .contact-right {
       background-image: url(../images/Anabelle-Logo2.png);
       height: 30rem;
       margin-top: 0rem;
       left: 8%;
       width: 75%;
       position: relative;
       bottom: 26rem;
       margin-bottom: -22rem; }
    }

    @media screen and (max-width: 600px){
        .contact-section h1{
            font-size: 2rem;
            padding-bottom: 1rem;
            text-align: center;
            position: relative;
            bottom: 24rem;
            margin: 0;
        }
    
       .contact-section p {
           position: relative;
           top: -24rem;
           padding-left: 3%;
        }
    
        #contact-form{
           position: relative;
           bottom: 25rem;
           width:  96%;
           left: 2%;
           padding-left: 0;
           margin: 0;
        }
        
        .contact-right {
           background-image: url(../images/Anabelle-Logo2.png);
           height: 30rem;
           margin-top: 0rem;
           left: 8%;
           width: 75%;
           position: relative;
           bottom: 26rem;
           margin-bottom: -22rem; }
        }


@media screen and (max-width: 480px) {
    .contact-section h1{
        font-size: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        position: relative;
        bottom: 25rem;
        margin: 0;
    }

   .contact-section p {
        position: relative;
        top: -25rem;
        padding-left: 2%;
    }

    #contact-form{
        position: relative;
        bottom: 26rem;
        width:  96%;
        left: 2%;
        padding-left: 0;
        margin: 0;
    }


    .contact-right {
        background-image: url(../images/Anabelle-Logo2.png);
        height: 27rem;
        margin-top: 0rem;
        left: 4%;
        width: 75%;
        position: relative;
        bottom: 25rem;
        margin-bottom: -20rem;
    }
}

@media screen and (max-width: 420px) {
    .contact-right {
        background-image: url(../images/Anabelle-Logo2.png);
        height: 23rem;
        margin-top: -4rem;
        left: 5%;
        width: 75%;
        position: relative;
        bottom: 25rem;
        margin-bottom: -22rem;
    }
}

@media screen and (max-width: 400px) {
    .contact-section h1{
        font-size: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        position: relative;
        bottom: 25rem;
        margin: 0;
    }

   .contact-section p {
       position: relative;
       top: -25rem;
       padding-left: 2%;
    }

    #contact-form{
       position: relative;
       bottom: 26rem;
       width:  96%;
       left: 2%;
       padding-left: 0;  
       margin: 0;
    }


    .contact-right {
        background-image: url(../images/Anabelle-Logo2.png);
        height: 27rem;
        margin-top: 0rem;
        left: 0%;
        width: 75%;
        position: relative;
        bottom: 27rem;
        margin-bottom: -25rem;
    }
}

@media screen and (max-width: 360px) {
    .contact-section h1{
        font-size: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        position: relative;
        bottom: 22rem;
        margin: 0;
    }

   .contact-right {
        background-image: url(../images/Anabelle-Logo2.png);
        height: 25rem;
        margin-top: -6rem;
        left: 4%;
        width: 92%;
        position: relative;
        bottom: 16rem;
        margin-bottom: -12rem;
    }

    #contact-form{
       position: relative;
       bottom: 21rem;
       width:  96%;
       left: 2%;
       padding-left: 0;
       margin: 0;
    }

    .contact-section p {
       position: relative;
       top: -20rem;
       padding-left: 2%;
    }
}

/*--CONTACT--*/

/*--GOTOP-BTN--*/
    .gotopbtn .fas{
        font-size: 1.4rem;
        color: rgb(0, 0, 0);
    }

    .gotopbtn{
        position: fixed;
        width: 2.5rem;
        height: 2.5rem;
        bottom: 2%;
        background: rgb(255, 255, 255);
        right: 2%;
        text-decoration: none;
        text-align: center;
        line-height: 2.9rem;
    }

    .gotopbtn:hover {
        
        background: rgb(143, 1, 1);
    }

@media screen and (max-width:1000px){
    .gotopbtn{
       display: none;   
    }
}
/*--GOTOP-BTN--*/



/*--FOOTER--*/
   .container-fluid {
       padding-right: 0;
       padding-left: 0;
    }

   .inner-footer {
       margin: 0;
       padding: 0;
       background: rgb(29, 6, 6);
    }

   .outer-footer {
       padding: 1rem;
       text-align: center;
       color:white;
       font-size: 14px;
       background: rgb(143, 1, 1);
       line-height: 0;
       width: 100%;
       font-family: 'Nixie One', cursive;
    }

   .social-links ul {
       position: relative;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin: 0rem 16rem;
       padding: 1rem;
    } 

   .social-links ul li {
       list-style: none;
       margin: 0rem auto;
    }

   .social-links ul li a {
       position: relative; 
       display: block;
       width: 2.5rem;
       height: 2.5rem;
       text-align: center;
       background: rgb(143, 1, 1);
       border-radius: 50%;
       color: rgb(255, 255, 255);
       transition: .5s;
    }



   .social-links ul li a::before {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       border-radius: 50%;
       background: #f51b1b;
       transition: .5s;
       transform: scale(.9);
       z-index: -1;
    }
    
    .social-links ul .fab {
       margin-top: 0.5rem;
       font-size: 1.5rem;
    }
    
   .social-links ul li a:hover::before {
       transform: scale(1.1);
       box-shadow: 0 0 40px #ee0505;
    }

   .social-links ul li a:hover {
       color: #ee0505;
       box-shadow: 0 0 10px #f8bf23;
       text-shadow: 0 0 10px #f1c70a;
    }

@media screen and (max-width:360px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .social-links ul {
        margin: 0rem 0rem; 
    } 
}

@media screen and (max-width:480px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .social-links ul {
        margin: 0rem 0rem;
      
    
    } 
}
/*--FOOTER--*/}